.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;

  float: left;
  height: 34px;
  width: 34px;
}

#title {
  text-shadow: 2px 2px 2px #ce5937;
}

.PlayerButton {
  background-color: lightgreen;
}
