.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50% !important;
  text-align: center;

}

.form-control {
	text-align:center;
	
	
}

.background {
	opacity: 0;
	
	
}

.WeathStyle p {
	margin-bottom: 0px;
	
	
}

.WeathStyle {
	margin-top: 10px;	
	
}





